<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome to Zenith</title>
        <meta name="description" content="Email sent by Zenith">
        <meta name="author" content="Zenith">
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
        <meta property="og:title" content="Welcome to Zenith">
        <meta name="og:description" content="Email sent by Zenith">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 600px; width: 100%;">
            <table style="padding-top: 24px; padding-bottom: 24px;">
                <tr>
                    <td>
                        <a href="https://zenith.to" style="display: block; height: 36px;" title="Zenith" target="_blank">
                            <img src="https://img.zncdn.net/brand/logo-transparent.png" style="width: 36px; height: 36px;" title="Zenith logo" />
                        </a>
                    </td>
                    <td style="padding-left: 12px;">
                        <div style="display: block; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: 700; font-size: 24px; color: #000000;">
                            Zenith
                        </div>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; padding-bottom: 24px;">
                <tr>
                    <div style="display: block; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: 700; font-size: 42px; color: #000000; padding-bottom: 24px;">
                        Welcome to Zenith
                    </div>
                    <div style="display: block; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #000000;">
                        Welcome, <%= name %>! Your account has been created. Your username is <b>@<%= username %></b>. You will be notified when the platform is completed.
                    </div>
                </tr>
            </table>
            <table style="width: 100%; padding-bottom: 24px;">
                <tr>
                    <span style="font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: 400; display: block; font-size: 16px; color: #000000;">
                        &copy; 2024 Zenith
                    </span>
                </tr>
            </table>
        </div>
    </body>
</html>